[workspace]
members = ["as5600", "interface", "firmware", "hardware_abstraction", "foc", "shared"]
resolver = "3"

[profile.release]
debug = 2
lto = true
opt-level = 'z'

[profile.dev]
debug = 2
lto = true
opt-level = "z"
